<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Recipe Share</title>
</head>
<body>
    <div class="container">
        <div class="top-nav padding_15">
            <h1>Edit Recipe!</h1>
            <div>
                <a href="/recipes">back to recipes</a>
                <a href="/logout">logout</a>
            </div>
        </div>
            <div class="padding_15">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                <form action="/recipes/update" method="post" class="form display-flex">
                    <input type="hidden" name="recipe_id" value="{{recipe.id}}">
                    <div class="form-col">
                        <label>
                            Name:
                            <input type="text" name="name" value="{{recipe.name}}">
                        </label>
                        <label>
                            Description:
                            <input type="text" name="description" value="{{recipe.description}}">
                        </label>
                        <label>
                            Instructions:
                            <textarea name="instructions" id="" cols="30" rows="10">{{ recipe.instructions }}</textarea>
                        </label>
                    </div>
                    <div class="form-col">
                        <label>
                            Date Cooked/Made:
                            <input type="date" name="date_made" value="{{recipe.date_made}}">
                        </label>
                        <label>
                            Under 30 Minutes?
                            <input type="radio" name="under_30" value="Yes"> Yes 
                            <input type="radio" name="under_30" value="No"> No
                        </label>
                        <input type="submit" value="Update">
                    </div>
                </form>
            </div>
    </div>
</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->